@page
@model GeoProf.Pages.Verlof.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Verlofaanvraag Verwijderen</h2>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VerlofAanvraag.VolledigeNaam)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VerlofAanvraag.VolledigeNaam)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VerlofAanvraag.Sector)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VerlofAanvraag.Sector)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VerlofAanvraag.VerlofBeginDatum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VerlofAanvraag.VerlofBeginDatum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VerlofAanvraag.VerlofEindDatum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VerlofAanvraag.VerlofEindDatum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VerlofAanvraag.VerlofReden)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VerlofAanvraag.VerlofReden)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="VerlofAanvraag.Id" />
        <input type="submit" value="Verwijderen" class="btn btn-danger submit_input" />
    </form>
</div>
