@page
@model GeoProf.Pages.Verlof.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Verlofaanvraag Goedkeuren?</h2>
<hr />
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.VerlofAanvraag.VolledigeNaam)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.VerlofAanvraag.VolledigeNaam)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.VerlofAanvraag.Sector)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.VerlofAanvraag.Sector)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.VerlofAanvraag.VerlofBeginDatum)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.VerlofAanvraag.VerlofBeginDatum)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.VerlofAanvraag.VerlofEindDatum)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.VerlofAanvraag.VerlofEindDatum)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.VerlofAanvraag.VerlofReden)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.VerlofAanvraag.VerlofReden)
    </dd>
</dl>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="VerlofAanvraag.Id" />
            <div class="form-group d-none">
                <label asp-for="VerlofAanvraag.VolledigeNaam" class="control-label"></label>
                <input asp-for="VerlofAanvraag.VolledigeNaam" class="form-control" />
                <span asp-validation-for="VerlofAanvraag.VolledigeNaam" class="text-danger"></span>
            </div>
            <div class="form-group d-none">
                <label asp-for="VerlofAanvraag.Sector" class="control-label"></label>
                <input asp-for="VerlofAanvraag.Sector" class="form-control" />
                <span asp-validation-for="VerlofAanvraag.Sector" class="text-danger"></span>
            </div>
            <div class="form-group d-none">
                <label asp-for="VerlofAanvraag.VerlofBeginDatum" class="control-label"></label>
                <input asp-for="VerlofAanvraag.VerlofBeginDatum" class="form-control" />
                <span asp-validation-for="VerlofAanvraag.VerlofBeginDatum" class="text-danger"></span>
            </div>
            <div class="form-group d-none">
                <label asp-for="VerlofAanvraag.VerlofEindDatum" class="control-label"></label>
                <input asp-for="VerlofAanvraag.VerlofEindDatum" class="form-control" />
                <span asp-validation-for="VerlofAanvraag.VerlofEindDatum" class="text-danger"></span>
            </div>
            <div class="form-group d-none">
                <label asp-for="VerlofAanvraag.VerlofReden" class="control-label"></label>
                <input asp-for="VerlofAanvraag.VerlofReden" class="form-control" />
                <span asp-validation-for="VerlofAanvraag.VerlofReden" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <button type="submit" value="Goedkeuren" class="btn btn-success submit_input">
                    <input class="input-but form-check-input position-absolute" asp-for="VerlofAanvraag.Geaccepteerd" /> Accepteer
                    </button>
                </label>
            </div>

        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
